@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-image: url("https://wallpapers.com/images/featured/call-of-duty-modern-warfare-background-tuxa67s7q8uruuvn.jpg");
}

.nav-top{
  background-color: black;
}

.text-clr{
  color: #32CD32;
}

.montserrat-400 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
