body {
    background-image: url("https://images.unsplash.com/photo-1539721972319-f0e80a00d424?fm=jpg&w=3000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Ymx1ZSUyMGdhbGF4eXxlbnwwfHwwfHx8MA%3D%3D");
    background-repeat: no-repeat;
    background-position: right top;
  }